@import "../../stylesheet/variable";
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  :global {
    .ant-btn {
      background-color: $blueBT;
      border-radius: 32px;
    }
  }
}

img {
  width: 90%;
  margin-bottom: 24px;
  
  @media only screen and (min-width: 768px) {
    width: 343px;
  }
  
}

