@import "../../stylesheet/variable";
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.title {
  font-family: 'Baloo 2', cursive;
  font-size: 22px;
  color: white;
  padding: 20px 82px;
  margin-bottom: 6px;
}