@import url('https://fonts.googleapis.com/css2?family=Prompt');
@import './stylesheet/_variable.scss';

.App{
  display: flex;
  justify-content: center;
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $blueBG;
    min-height: 100vh;
    width: 100%;
    
    @media only screen and (min-width: 768px) {
      width: 772px;
    }
  }
}
